[client]
port=3306
socket=/var/run/mysqld/mysqld.sock

[mysqld]
port=3306
socket=/var/run/mysqld/mysqld.sock
default-storage-engine=ndbcluster
ndbcluster
datadir=/usr/local/mysql/data
ndb-connectstring=192.168.236.138,192.168.236.139
max_connections=5000
[ndbd]
connect-string=192.168.236.138,192.168.236.139
[ndb_mgm]
connect-string=192.168.236.138,192.168.236.139
[ndb_mgmd]
config-file=/var/lib/mysql-cluster/config.ini
[mysql_cluster]
ndb-connectstring=192.168.236.138,192.168.236.139
